{% set flex = grav['flex_objects'] %}
{% set directory = flex.directory('locations') %}
{% set object = directory.getObject(header.object) %}

{% set body_classes_slot = "template-location" %}
{% extends 'partials/base.html.twig' %}

{% block javascripts %}
	{% do assets.addJs('https://unpkg.com/swiper@8/swiper-bundle.min.js', {'priority': 98}) %}
	{{ parent() }}
{% endblock %}

{% block stylesheets %}
	{% do assets.addCss('https://unpkg.com/swiper@8/swiper-bundle.min.css') %}
	{{ parent() }}
{% endblock %}

{% block hero %}
	{# Location Carousel #}

	{% set swiper %}
	const swiper = new Swiper('#location-carousel', {
							    direction: 'horizontal',
							    loop: true,
							    slidesPerView: 1,
							    spaceBetween: 10,
							    pagination: {
							      el: '.swiper-pagination',
							    },
							    navigation: {
							      nextEl: '.swiper-button-next',
							      prevEl: '.swiper-button-prev',
							    },
							    breakpoints: {
							      640: {
							        slidesPerView: 3
							      }
							    }
							  });
	{% endset %}
	{% do assets.addInlineJs(swiper, {id: 'alpine-dropdown', group: 'bottom'}) %}

	<!-- Slider main container -->
	<div id="location-carousel" class="swiper h-[64vw] sm:h-[22vw]" style="--swiper-pagination-color: hsl(var(--p));">
		<div
			class="swiper-wrapper">
			<!-- Slides -->
			<div class="swiper-slide relative">
				<img class="absolute top-0 left-0 right-0 bottom-0 object-cover w-full h-full" src="https://images.unsplash.com/photo-1453614512568-c4024d13c247?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2832&q=80" alt="">
			</div>
			<div class="swiper-slide relative">
				<img class="absolute top-0 left-0 right-0 bottom-0 object-cover w-full h-full" src="https://images.unsplash.com/photo-1453614512568-c4024d13c247?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2832&q=80" alt="">
			</div>
			<div class="swiper-slide relative">
				<img class="absolute top-0 left-0 right-0 bottom-0 object-cover w-full h-full" src="https://images.unsplash.com/photo-1453614512568-c4024d13c247?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2832&q=80" alt="">
			</div>
			<div class="swiper-slide relative">
				<img class="absolute top-0 left-0 right-0 bottom-0 object-cover w-full h-full" src="https://images.unsplash.com/photo-1453614512568-c4024d13c247?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2832&q=80" alt="">
			</div>
			<div class="swiper-slide relative">
				<img class="absolute top-0 left-0 right-0 bottom-0 object-cover w-full h-full" src="https://images.unsplash.com/photo-1453614512568-c4024d13c247?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2832&q=80" alt="">
			</div>
		</div>

		<!-- If we need navigation buttons -->
		<div class="swiper-button-prev btn btn-primary btn-circle after:content-none hidden sm:flex">❮</div>
		<div class="swiper-button-next btn btn-primary btn-circle after:content-none hidden sm:flex">❯</div>

		<!-- If we need pagination -->
		<div class="swiper-pagination sm:hidden"></div>
	</div>
{% endblock %}

{% block content %}
	{# Page title #}
	<div class="container mx-auto my-8 sm:my-12">
		<div class="px-4">
			<header class="flex items-center mb-4 sm:mb-7">
				<h1 class="text-3xl md:text-5xl">
					{{ object.name }}
				</h1>
			</header>
			<div class="prose mr-7 max-w-max">
				{{ page.content|raw }}
			</div>
			<footer class="flex-col sm:flex-row flex justify-start mt-8 sm:mt-4">
				<button class="btn btn-secondary btn-sm flex font-normal gap-2 items-center mb-4 sm:mb-0">
					Share this
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-share-fill" viewbox="0 0 16 16">
						<path d="M11 2.5a2.5 2.5 0 1 1 .603 1.628l-6.718 3.12a2.499 2.499 0 0 1 0 1.504l6.718 3.12a2.5 2.5 0 1 1-.488.876l-6.718-3.12a2.5 2.5 0 1 1 0-3.256l6.718-3.12A2.5 2.5 0 0 1 11 2.5z"/>
					</svg>
				</button>
				<button class="btn btn-primary btn-sm sm:ml-4 mb-4 sm:mb-0 gap-2 bg-red-400 hover:bg-red-600 text-white">
					Favorite
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewbox="0 0 16 16">
						<path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
					</svg>
				</button>
				<button class="btn btn-accent btn-sm gap-2 sm:ml-auto">
					Embed
					<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-code-slash" viewbox="0 0 16 16">
						<path d="M10.478 1.647a.5.5 0 1 0-.956-.294l-4 13a.5.5 0 0 0 .956.294l4-13zM4.854 4.146a.5.5 0 0 1 0 .708L1.707 8l3.147 3.146a.5.5 0 0 1-.708.708l-3.5-3.5a.5.5 0 0 1 0-.708l3.5-3.5a.5.5 0 0 1 .708 0zm6.292 0a.5.5 0 0 0 0 .708L14.293 8l-3.147 3.146a.5.5 0 0 0 .708.708l3.5-3.5a.5.5 0 0 0 0-.708l-3.5-3.5a.5.5 0 0 0-.708 0z"/>
					</svg>
				</button>
			</footer>
		</div>
	</div>

  <div class="divider"></div>

	{# Ratings #}
	<div class="container mx-auto my-6 sm:my-12">
		<div class="px-4">
      <h1 class="mb-12 mx-auto text-3xl w-max">
        Overall Rating
        <div class="bg-success rounded-lg w-max px-4 py-2 mt-4 mx-auto font-semibold">
          4.5
        </div>
      </h1>
			<div class="grid grid-cols-1 md:grid-cols-2 md:gap-8">
				<div class="overflow-x-auto">
					<table class="table w-full">
						<tbody>
							<!-- row 1 -->
							<tr>
								<th class="pl-0">Coffee</th>
								<td class="flex items-center justify-end">
									<div class="rating gap-1">
										<input type="radio" name="rating-3" class="mask mask-heart bg-red-400"/>
										<input type="radio" name="rating-3" class="mask mask-heart bg-orange-400" checked/>
										<input type="radio" name="rating-3" class="mask mask-heart bg-yellow-400"/>
										<input type="radio" name="rating-3" class="mask mask-heart bg-lime-400"/>
										<input type="radio" name="rating-3" class="mask mask-heart bg-green-400"/>
									</div>
								</td>
							</tr>
							<!-- row 2 -->
							<tr>
								<th class="pl-0">WIFI</th>
								<td class="flex items-center justify-end">
									<div class="rating gap-1">
										<input type="radio" name="rating-1" class="mask mask-heart bg-red-400"/>
										<input type="radio" name="rating-1" class="mask mask-heart bg-orange-400" checked/>
										<input type="radio" name="rating-1" class="mask mask-heart bg-yellow-400"/>
										<input type="radio" name="rating-1" class="mask mask-heart bg-lime-400"/>
										<input type="radio" name="rating-1" class="mask mask-heart bg-green-400"/>
									</div>
								</td>
							</tr>
							<!-- row 3 -->
							<tr>
								<th class="pl-0">Seating</th>
								<td class="flex items-center justify-end">
									<div class="rating gap-1">
										<input type="radio" name="rating-2" class="mask mask-heart bg-red-400"/>
										<input type="radio" name="rating-2" class="mask mask-heart bg-orange-400" checked/>
										<input type="radio" name="rating-2" class="mask mask-heart bg-yellow-400"/>
										<input type="radio" name="rating-2" class="mask mask-heart bg-lime-400"/>
										<input type="radio" name="rating-2" class="mask mask-heart bg-green-400"/>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="overflow-x-auto">
					<table class="table w-full table-fixed">
						<tbody>
							<!-- row 1 -->
							<tr>
								<th class="pl-0">Coffee</th>
								<td class="flex items-center justify-end">
									<div class="rating gap-1">
										<input type="radio" name="rating-3" class="mask mask-heart bg-red-400"/>
										<input type="radio" name="rating-3" class="mask mask-heart bg-orange-400" checked/>
										<input type="radio" name="rating-3" class="mask mask-heart bg-yellow-400"/>
										<input type="radio" name="rating-3" class="mask mask-heart bg-lime-400"/>
										<input type="radio" name="rating-3" class="mask mask-heart bg-green-400"/>
									</div>
								</td>
							</tr>
							<!-- row 2 -->
							<tr>
								<th class="pl-0">WIFI</th>
								<td class="flex items-center justify-end">
									<div class="rating gap-1">
										<input type="radio" name="rating-1" class="mask mask-heart bg-red-400"/>
										<input type="radio" name="rating-1" class="mask mask-heart bg-orange-400" checked/>
										<input type="radio" name="rating-1" class="mask mask-heart bg-yellow-400"/>
										<input type="radio" name="rating-1" class="mask mask-heart bg-lime-400"/>
										<input type="radio" name="rating-1" class="mask mask-heart bg-green-400"/>
									</div>
								</td>
							</tr>
							<!-- row 3 -->
							<tr>
								<th class="pl-0">Seating</th>
								<td class="flex items-center justify-end">
									<div class="rating gap-1">
										<input type="radio" name="rating-2" class="mask mask-heart bg-red-400"/>
										<input type="radio" name="rating-2" class="mask mask-heart bg-orange-400" checked/>
										<input type="radio" name="rating-2" class="mask mask-heart bg-yellow-400"/>
										<input type="radio" name="rating-2" class="mask mask-heart bg-lime-400"/>
										<input type="radio" name="rating-2" class="mask mask-heart bg-green-400"/>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<div class="bg-gray-50 py-12">
		<div class="container mx-auto">
			<div class="px-4">
				<div class="flex flex-col-reverse lg:flex-row gap-8">
					<main class="w-full lg:w-2/3">
						<div>
							<h2 class="text-2xl text-accent mb-6">
								Listing Features
							</h2>
							<div>
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam harum, nisi quos vero porro atque beatae consectetur. Deserunt neque nisi a accusantium molestiae illum assumenda facere explicabohil!
							</div>
							<div class="grid grid-cols-2 sm:grid-cols-3 my-8 gap-3">

								{% set count = 15 %}

								{% for i in range(1, count) %}
									<div class="flex items-center gap-2">
										<svg class="text-primary" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2-square" viewbox="0 0 16 16">
											<path d="M3 14.5A1.5 1.5 0 0 1 1.5 13V3A1.5 1.5 0 0 1 3 1.5h8a.5.5 0 0 1 0 1H3a.5.5 0 0 0-.5.5v10a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V8a.5.5 0 0 1 1 0v5a1.5 1.5 0 0 1-1.5 1.5H3z"/>
											<path d="m8.354 10.354 7-7a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z"/>
										</svg>
										{{ random(['Wi-Fi', 'Public Restroom', 'Fast Service', 'Outdoor Seating', 'Natural Light', 'Vegan Drinks', 'Vegan Food']) }}
									</div>
								{% endfor %}
							</div>
						</div>
					</main>
					<aside class="w-full lg:w-1/3 bg-white">
						<img class="w-full" src="https://docs.microsoft.com/es-es/azure/azure-maps/media/migrate-google-maps-web-app/google-maps-marker.png" alt="">
					</aside>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

