{% set extension = config.theme.production ? '.min' : '' %}
{% set page_title_bg_image = page.media.images|first %}

<!DOCTYPE html>
<html lang="{{ (grav.language.getActive ?: grav.config.site.default_lang)|e }}" data-theme="bumblebee" class="antialiased">
  <head>
    {% block head %}
      <meta charset="utf-8"/>
      <title>
        {% if header.title %}
          {{ header.title|e }}
          |
        {% endif %}
        {{ site.title|e }}</title>

      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      {% include 'partials/metadata.html.twig' %}

      <link rel="canonical" href="{{ page.url(true, true)|e }}"/>
    {% endblock head %}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Shadows+Into+Light&display=swap" rel="stylesheet">

    {% block stylesheets %}
      {% do assets.addCss('theme://dist/css/site' ~ extension ~ '.css') %}
    {% endblock %}

    {% block javascripts %}
      {% do assets.addJs('theme://js/main.js', 100) %}
      {% do assets.addJs('https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js', {'loading': 'defer', 'priority': 99}) %}
    {% endblock %}

    {% block assets deferred %}
      {{ assets.css()|raw }}
      {{ assets.js()|raw }}
    {% endblock %}
  </head>

  {% set body_classes = [] %}
  {% if page.header.body_classes is not empty %}
    {% set body_classes = body_classes|merge([page.header.body_classes]) %}
  {% endif %}
  {% if body_classes_slot is not empty %}
    {% set body_classes = body_classes|merge([body_classes_slot]) %}
  {% endif %}

  <body id="top" class="{{ body_classes|join(' ')|e }} font-poppins tracking-wide">

    {% block body %}
      {% include 'partials/login-modal.html.twig' %}
      <div class="drawer">
        <input x-data x-model="$store.gravel.mobileMenuShowing" id="mobile-drawer" type="checkbox" class="drawer-toggle"/>
        <div
          id="drawer-content" class="drawer-content relative flex flex-col">
          <!-- Navbar -->

          {% block header %}
            {% include 'partials/header.html.twig' %}
          {% endblock %}


          <!-- Page content here -->
          {% block main %}

            <main id="site-main" class="site-main">

              {% block hero %}{% endblock %}

              {% block content %}
                {{ content }}
              {% endblock %}

            </main>

          {% endblock %}

          {% block footer %}
            {% include 'partials/footer.html.twig' %}
          {% endblock %}

        </div>
        <div class="drawer-side">
          <label for="mobile-drawer" class="drawer-overlay"></label>
          {% include 'partials/mobile-navigation.html.twig' %}
        </div>
      </div>

    {% endblock %}


    {% block bottom %}
      {{ assets.js('bottom')|raw }}
    {% endblock %}

  </body>
</html>
